html,
body {
  background-color: #1a1a1a;
}

.tiles-main,
.tiles-wrap-layer1,
.tiles-wrap-layer2,
.tiles-inner,
.tiles {
  pointer-events: none;
}

.honeycomb {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 80%;
}

.tiles {
  position: relative;
  width: calc(100% / 6);
  perspective: 1000px;

  &:not(:last-child) {
    margin-right: -2%;
  }

  &:hover {
    .tiles-inner {
      transform: rotateY(180deg);
    }
  }
}

.tiles-inner {
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  transition: transform 0.6s cubic-bezier(0.35, 0.1, 0.6, 1.51);
  transform-style: preserve-3d;
  width: 100%;
}

.tiles-border {
  margin: 0 auto;

  &:before,
  &:after {
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
  }

  &:before {
    transform: rotate(60deg) translate(18%, -18%);
  }

  &:after {
    transform: rotate(-60deg) translate(18%, 18%);
  }

  &,
  &:before,
  &:after {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    cursor: pointer;
    display: block;
    padding-bottom: 100%;
    width: 58%;
    pointer-events: auto;
  }
}

.tiles-wrap {
  overflow: hidden;
  position: absolute;
  top: 1px;
  transform: rotate(120deg);
  visibility: hidden;

  &.-front,
  &.-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  &.-back {
    transform: rotateY(180deg);

    .tiles-main {
      transform: rotate(120deg);
    }
  }
}

.tiles-wrap-layer1 {
  height: 100%;
  overflow: hidden;
  transform: rotate(-60deg);
  visibility: hidden;
  width: 100%;
}

.tiles-wrap-layer2 {
  height: 100%;
  overflow: hidden;
  position: relative;
  transform: rotate(-60deg);
  visibility: visible;
  width: 100%;
}

.tiles-main {
  background: {
    size: cover;
    position: center center;
  }
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: background 0.5s ease;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiles-main--inner {
  padding: 20px 30px;

  p {
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.93);
    text-align: center;
  }
}
